# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
!ls ../../data/

18-83510-I94-Data-2016	I94_SAS_Labels_Descriptions.SAS

In [3]:
!ls ../../data2/

GlobalLandTemperaturesByCity.csv

In [5]:
!ls ../../data/18-83510-I94-Data-2016/ | head

i94_apr16_sub.sas7bdat
i94_aug16_sub.sas7bdat
i94_dec16_sub.sas7bdat
i94_feb16_sub.sas7bdat
i94_jan16_sub.sas7bdat
i94_jul16_sub.sas7bdat
i94_jun16_sub.sas7bdat
i94_mar16_sub.sas7bdat
i94_may16_sub.sas7bdat
i94_nov16_sub.sas7bdat

In [6]:
# Read in the data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [7]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [7]:
# #write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [2]:
# Performing cleaning tasks here

df_spark.show(2)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|       admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null|1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null| 3.73679633E9|00296|      F1|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
only showing top 2 rows

In [3]:
df_spark.show(1, vertical=True)

-RECORD 0-----------------
 cicid    | 6.0
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 692.0
 i94res   | 692.0
 i94port  | XXX
 arrdate  | 20573.0
 i94mode  | null
 i94addr  | null
 depdate  | null
 i94bir   | 37.0
 i94visa  | 2.0
 count    | 1.0
 dtadfile | null
 visapost | null
 occup    | null
 entdepa  | T
 entdepd  | null
 entdepu  | U
 matflag  | null
 biryear  | 1979.0
 dtaddto  | 10282016
 gender   | null
 insnum   | null
 airline  | null
 admnum   | 1.897628485E9
 fltno    | null
 visatype | B2
only showing top 1 row

In [14]:
!ls sas_data/

part-00000-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00001-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00002-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00003-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00004-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00005-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00006-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00007-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00008-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00009-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00010-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00011-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00012-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00013-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
_SUCCESS

In [4]:
df_spark.count()

3096313

In [9]:
df_spark.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [3]:
df_spark.describe().show(vertical=True)

-RECORD 0------------------------
 summary  | count
 cicid    | 3096313
 i94yr    | 3096313
 i94mon   | 3096313
 i94cit   | 3096313
 i94res   | 3096313
 i94port  | 3096313
 arrdate  | 3096313
 i94mode  | 3096074
 i94addr  | 2943721
 depdate  | 2953856
 i94bir   | 3095511
 i94visa  | 3096313
 count    | 3096313
 dtadfile | 3096312
 visapost | 1215063
 occup    | 8126
 entdepa  | 3096075
 entdepd  | 2957884
 entdepu  | 392
 matflag  | 2957884
 biryear  | 3095511
 dtaddto  | 3095836
 gender   | 2682044
 insnum   | 113708
 airline  | 3012686
 admnum   | 3096313
 fltno    | 3076764
 visatype | 3096313
-RECORD 1------------------------
 summary  | mean
 cicid    | 3078651.879075533
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 304.9069344733559
 i94res   | 303.28381949757664
 i94port  | null
 arrdate  | 20559.84854179794
 i94mode  | 1.0736897761487614
 i94addr  | 51.652482269503544
 depdate  | 20573.95283554784
 i94bir   | 41.767614458485205
 i94visa  | 1.8453925685161674
 count    | 1.0
 dtadfile | 2.0160424766168267E7
 visapost | 999.0
 occup    | 885.675
 entdepa  | null
 entdepd  | null
 entdepu  | null
 matflag  | null
 biryear  | 1974.2323855415148
 dtaddto  | 8291120.333841449
 gender   | null
 insnum   | 4131.050016327899
 airline  | 59.477601493233784
 admnum   | 7.082885011090295E10
 fltno    | 1360.2463696420555
 visatype | null
-RECORD 2------------------------
 summary  | stddev
 cicid    | 1763278.099749858
 i94yr    | 4.282829613261096...
 i94mon   | 0.0
 i94cit   | 210.02688853063327
 i94res   | 208.5832129278886
 i94port  | null
 arrdate  | 8.777339474881552
 i94mode  | 0.5158963131657236
 i94addr  | 42.979062313709846
 depdate  | 29.356968481630613
 i94bir   | 17.42026053458826
 i94visa  | 0.39839102005409577
 count    | 0.0
 dtadfile | 50.01513449489737
 visapost | 0.0
 occup    | 264.6551105950961
 entdepa  | null
 entdepd  | null
 entdepu  | null
 matflag  | null
 biryear  | 17.420260534588262
 dtaddto  | 1656502.4244925014
 gender   | null
 insnum   | 8821.743471773656
 airline  | 172.63339952061747
 admnum   | 2.215441594755763...
 fltno    | 5852.676345633782
 visatype | null
-RECORD 3------------------------
 summary  | min
 cicid    | 6.0
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 101.0
 i94res   | 101.0
 i94port  | 5KE
 arrdate  | 20545.0
 i94mode  | 1.0
 i94addr  | ..
 depdate  | 15176.0
 i94bir   | -3.0
 i94visa  | 1.0
 count    | 1.0
 dtadfile | 20130811
 visapost | 999
 occup    | 049
 entdepa  | A
 entdepd  | D
 entdepu  | U
 matflag  | M
 biryear  | 1902.0
 dtaddto  | /   183D
 gender   | F
 insnum   | 0
 airline  | *FF
 admnum   | 0.0
 fltno    | 00000
 visatype | B1
-RECORD 4------------------------
 summary  | max
 cicid    | 6102785.0
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 999.0
 i94res   | 760.0
 i94port  | YSL
 arrdate  | 20574.0
 i94mode  | 9.0
 i94addr  | ZU
 depdate  | 45427.0
 i94bir   | 114.0
 i94visa  | 3.0
 count    | 1.0
 dtadfile | 20160919
 visapost | ZZZ
 occup    | WTR
 entdepa  | Z
 entdepd  | W
 entdepu  | Y
 matflag  | M
 biryear  | 2019.0
 dtaddto  | D/S
 gender   | X
 insnum   | YM0167
 airline  | ZZ
 admnum   | 9.991556593E10
 fltno    | ZZZ
 visatype | WT

In [4]:
df_spark.select("i94port").distinct().show()

+-------+
|i94port|
+-------+
|    FMY|
|    BGM|
|    HEL|
|    DNS|
|    MOR|
|    FOK|
|    HVR|
|    SNA|
|    PTK|
|    SPM|
|    CLG|
|    OPF|
|    DLB|
|    ABS|
|    NAS|
|    MYR|
|    PVD|
|    OAK|
|    FAR|
|    OTT|
+-------+
only showing top 20 rows

In [ ]:
# i94port_counts = df_spark.groupby("i94port").count()

In [ ]:
# i94port_counts.toPandas()

In [5]:
df_spark.select("i94mode").distinct().show()

+-------+
|i94mode|
+-------+
|   null|
|    1.0|
|    3.0|
|    2.0|
|    9.0|
+-------+

In [6]:
df_spark.createOrReplaceTempView("stg_immigration_raw")

In [8]:
spark.sql("""
    select i94mode, count(*)
    from stg_immigration_raw
    group by i94mode
""").show()

+-------+--------+
|i94mode|count(1)|
+-------+--------+
|   null|     239|
|    1.0| 2994505|
|    3.0|   66660|
|    2.0|   26349|
|    9.0|    8560|
+-------+--------+

In [11]:
spark.sql("""
    select *
    from stg_immigration_raw
    where i94mode = 1
""").show(2)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|      admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|6.66643185E8|   93|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
only showing top 2 rows

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.