# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
!ls ../../data/

18-83510-I94-Data-2016	I94_SAS_Labels_Descriptions.SAS

In [3]:
!ls ../../data2/

GlobalLandTemperaturesByCity.csv

In [5]:
!ls ../../data/18-83510-I94-Data-2016/ | head

i94_apr16_sub.sas7bdat
i94_aug16_sub.sas7bdat
i94_dec16_sub.sas7bdat
i94_feb16_sub.sas7bdat
i94_jan16_sub.sas7bdat
i94_jul16_sub.sas7bdat
i94_jun16_sub.sas7bdat
i94_mar16_sub.sas7bdat
i94_may16_sub.sas7bdat
i94_nov16_sub.sas7bdat

In [6]:
# Read in the data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [7]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [2]:
import os
import glob

In [3]:
os.listdir("./output_data/dim_immigration/")

['feb16',
 'jun16',
 'dec16',
 'aug16',
 'nov16',
 'jul16',
 'apr16',
 'jan16',
 'mar16',
 'may16',
 'sep16',
 'oct16']

In [7]:
# #write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [2]:
# Performing cleaning tasks here

df_spark.show(2)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|       admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null|1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null| 3.73679633E9|00296|      F1|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+-------------+-----+--------+
only showing top 2 rows

In [3]:
df_spark.show(1, vertical=True)

-RECORD 0-----------------
 cicid    | 6.0
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 692.0
 i94res   | 692.0
 i94port  | XXX
 arrdate  | 20573.0
 i94mode  | null
 i94addr  | null
 depdate  | null
 i94bir   | 37.0
 i94visa  | 2.0
 count    | 1.0
 dtadfile | null
 visapost | null
 occup    | null
 entdepa  | T
 entdepd  | null
 entdepu  | U
 matflag  | null
 biryear  | 1979.0
 dtaddto  | 10282016
 gender   | null
 insnum   | null
 airline  | null
 admnum   | 1.897628485E9
 fltno    | null
 visatype | B2
only showing top 1 row

In [14]:
!ls sas_data/

part-00000-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00001-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00002-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00003-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00004-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00005-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00006-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00007-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00008-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00009-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00010-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00011-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00012-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
part-00013-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
_SUCCESS

In [4]:
df_spark.count()

3096313

In [9]:
df_spark.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [3]:
df_spark.describe().show(vertical=True)

-RECORD 0------------------------
 summary  | count
 cicid    | 3096313
 i94yr    | 3096313
 i94mon   | 3096313
 i94cit   | 3096313
 i94res   | 3096313
 i94port  | 3096313
 arrdate  | 3096313
 i94mode  | 3096074
 i94addr  | 2943721
 depdate  | 2953856
 i94bir   | 3095511
 i94visa  | 3096313
 count    | 3096313
 dtadfile | 3096312
 visapost | 1215063
 occup    | 8126
 entdepa  | 3096075
 entdepd  | 2957884
 entdepu  | 392
 matflag  | 2957884
 biryear  | 3095511
 dtaddto  | 3095836
 gender   | 2682044
 insnum   | 113708
 airline  | 3012686
 admnum   | 3096313
 fltno    | 3076764
 visatype | 3096313
-RECORD 1------------------------
 summary  | mean
 cicid    | 3078651.879075533
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 304.9069344733559
 i94res   | 303.28381949757664
 i94port  | null
 arrdate  | 20559.84854179794
 i94mode  | 1.0736897761487614
 i94addr  | 51.652482269503544
 depdate  | 20573.95283554784
 i94bir   | 41.767614458485205
 i94visa  | 1.8453925685161674
 count    | 1.0
 dtadfile | 2.0160424766168267E7
 visapost | 999.0
 occup    | 885.675
 entdepa  | null
 entdepd  | null
 entdepu  | null
 matflag  | null
 biryear  | 1974.2323855415148
 dtaddto  | 8291120.333841449
 gender   | null
 insnum   | 4131.050016327899
 airline  | 59.477601493233784
 admnum   | 7.082885011090295E10
 fltno    | 1360.2463696420555
 visatype | null
-RECORD 2------------------------
 summary  | stddev
 cicid    | 1763278.099749858
 i94yr    | 4.282829613261096...
 i94mon   | 0.0
 i94cit   | 210.02688853063327
 i94res   | 208.5832129278886
 i94port  | null
 arrdate  | 8.777339474881552
 i94mode  | 0.5158963131657236
 i94addr  | 42.979062313709846
 depdate  | 29.356968481630613
 i94bir   | 17.42026053458826
 i94visa  | 0.39839102005409577
 count    | 0.0
 dtadfile | 50.01513449489737
 visapost | 0.0
 occup    | 264.6551105950961
 entdepa  | null
 entdepd  | null
 entdepu  | null
 matflag  | null
 biryear  | 17.420260534588262
 dtaddto  | 1656502.4244925014
 gender   | null
 insnum   | 8821.743471773656
 airline  | 172.63339952061747
 admnum   | 2.215441594755763...
 fltno    | 5852.676345633782
 visatype | null
-RECORD 3------------------------
 summary  | min
 cicid    | 6.0
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 101.0
 i94res   | 101.0
 i94port  | 5KE
 arrdate  | 20545.0
 i94mode  | 1.0
 i94addr  | ..
 depdate  | 15176.0
 i94bir   | -3.0
 i94visa  | 1.0
 count    | 1.0
 dtadfile | 20130811
 visapost | 999
 occup    | 049
 entdepa  | A
 entdepd  | D
 entdepu  | U
 matflag  | M
 biryear  | 1902.0
 dtaddto  | /   183D
 gender   | F
 insnum   | 0
 airline  | *FF
 admnum   | 0.0
 fltno    | 00000
 visatype | B1
-RECORD 4------------------------
 summary  | max
 cicid    | 6102785.0
 i94yr    | 2016.0
 i94mon   | 4.0
 i94cit   | 999.0
 i94res   | 760.0
 i94port  | YSL
 arrdate  | 20574.0
 i94mode  | 9.0
 i94addr  | ZU
 depdate  | 45427.0
 i94bir   | 114.0
 i94visa  | 3.0
 count    | 1.0
 dtadfile | 20160919
 visapost | ZZZ
 occup    | WTR
 entdepa  | Z
 entdepd  | W
 entdepu  | Y
 matflag  | M
 biryear  | 2019.0
 dtaddto  | D/S
 gender   | X
 insnum   | YM0167
 airline  | ZZ
 admnum   | 9.991556593E10
 fltno    | ZZZ
 visatype | WT

In [4]:
df_spark.select("i94port").distinct().show()

+-------+
|i94port|
+-------+
|    FMY|
|    BGM|
|    HEL|
|    DNS|
|    MOR|
|    FOK|
|    HVR|
|    SNA|
|    PTK|
|    SPM|
|    CLG|
|    OPF|
|    DLB|
|    ABS|
|    NAS|
|    MYR|
|    PVD|
|    OAK|
|    FAR|
|    OTT|
+-------+
only showing top 20 rows

In [ ]:
# i94port_counts = df_spark.groupby("i94port").count()

In [ ]:
# i94port_counts.toPandas()

In [5]:
df_spark.select("i94mode").distinct().show()

+-------+
|i94mode|
+-------+
|   null|
|    1.0|
|    3.0|
|    2.0|
|    9.0|
+-------+

In [6]:
df_spark.createOrReplaceTempView("stg_immigration_raw")

In [8]:
spark.sql("""
    select i94mode, count(*)
    from stg_immigration_raw
    group by i94mode
""").show()

+-------+--------+
|i94mode|count(1)|
+-------+--------+
|   null|     239|
|    1.0| 2994505|
|    3.0|   66660|
|    2.0|   26349|
|    9.0|    8560|
+-------+--------+

In [11]:
spark.sql("""
    select *
    from stg_immigration_raw
    where i94mode = 1
""").show(2)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|      admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|6.66643185E8|   93|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
only showing top 2 rows

In [17]:
spark.sql("""
    select i94yr as year
          ,i94mon as month
          ,i94bir as age
          ,i94res as origin_country_code
          ,i94addr as destination_state_code
          ,i94port as destination_city_code
          ,gender
          ,i94visa as visa_code
          ,visatype
          ,sum(count) as i94_counts
    from stg_immigration_raw
    where i94mode = 1
        and i94port is not null
    group by year, month, age,
             origin_country_code,
             destination_state_code,
             destination_city_code,
             gender, visa_code,
             visatype
""").show(2)

+------+-----+----+-------------------+----------------------+---------------------+------+---------+--------+----------+
|  year|month| age|origin_country_code|destination_state_code|destination_city_code|gender|visa_code|visatype|i94_counts|
+------+-----+----+-------------------+----------------------+---------------------+------+---------+--------+----------+
|2016.0|  4.0|59.0|              104.0|                    DC|                  NYC|     F|      2.0|      WT|       1.0|
|2016.0|  4.0|67.0|              104.0|                    AZ|                  PHO|     F|      2.0|      WT|       1.0|
+------+-----+----+-------------------+----------------------+---------------------+------+---------+--------+----------+
only showing top 2 rows

In [4]:
demographics = spark.read.format("csv").option("delimiter", ";").option("header", "true").load("us-cities-demographics.csv")
airport = spark.read.format("csv").option("delimiter", ",").option("header", "true").load("airport-codes_csv.csv")
temperature = spark.read.format("csv").option("delimiter", ",").option("header", "true").load("../../data2/GlobalLandTemperaturesByCity.csv")

In [5]:
demographics.show(2)

+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|         City|        State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|              Race|Count|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|Hispanic or Latino|25924|
|       Quincy|Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|             White|58723|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
only showing top 2 rows

In [6]:
airport.show(2)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 2 rows

In [7]:
temperature.show(2)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 2 rows

In [8]:
demographics.createOrReplaceTempView("stg_demographics")
airport.createOrReplaceTempView("stg_airports")
temperature.createOrReplaceTempView("stg_temperatures")

In [10]:
spark.sql("""
    select *
    from stg_demographics
""").show(2, vertical=True)

-RECORD 0------------------------------------
 City                   | Silver Spring
 State                  | Maryland
 Median Age             | 33.8
 Male Population        | 40601
 Female Population      | 41862
 Total Population       | 82463
 Number of Veterans     | 1562
 Foreign-born           | 30908
 Average Household Size | 2.6
 State Code             | MD
 Race                   | Hispanic or Latino
 Count                  | 25924
-RECORD 1------------------------------------
 City                   | Quincy
 State                  | Massachusetts
 Median Age             | 41.0
 Male Population        | 44129
 Female Population      | 49500
 Total Population       | 93629
 Number of Veterans     | 4147
 Foreign-born           | 32935
 Average Household Size | 2.39
 State Code             | MA
 Race                   | White
 Count                  | 58723
only showing top 2 rows

In [13]:
spark.sql("""
    select *
    from stg_demographics
    where `State Code` = 'MD'
    order by city
""").show(10, vertical=True)

-RECORD 0--------------------------------------
 City                   | Baltimore
 State                  | Maryland
 Median Age             | 34.7
 Male Population        | 294027
 Female Population      | 327822
 Total Population       | 621849
 Number of Veterans     | 29540
 Foreign-born           | 49857
 Average Household Size | 2.51
 State Code             | MD
 Race                   | White
 Count                  | 207274
-RECORD 1--------------------------------------
 City                   | Baltimore
 State                  | Maryland
 Median Age             | 34.7
 Male Population        | 294027
 Female Population      | 327822
 Total Population       | 621849
 Number of Veterans     | 29540
 Foreign-born           | 49857
 Average Household Size | 2.51
 State Code             | MD
 Race                   | Black or African-...
 Count                  | 396270
-RECORD 2--------------------------------------
 City                   | Baltimore
 State                  | Maryland
 Median Age             | 34.7
 Male Population        | 294027
 Female Population      | 327822
 Total Population       | 621849
 Number of Veterans     | 29540
 Foreign-born           | 49857
 Average Household Size | 2.51
 State Code             | MD
 Race                   | Asian
 Count                  | 20161
-RECORD 3--------------------------------------
 City                   | Baltimore
 State                  | Maryland
 Median Age             | 34.7
 Male Population        | 294027
 Female Population      | 327822
 Total Population       | 621849
 Number of Veterans     | 29540
 Foreign-born           | 49857
 Average Household Size | 2.51
 State Code             | MD
 Race                   | Hispanic or Latino
 Count                  | 29953
-RECORD 4--------------------------------------
 City                   | Baltimore
 State                  | Maryland
 Median Age             | 34.7
 Male Population        | 294027
 Female Population      | 327822
 Total Population       | 621849
 Number of Veterans     | 29540
 Foreign-born           | 49857
 Average Household Size | 2.51
 State Code             | MD
 Race                   | American Indian a...
 Count                  | 7730
-RECORD 5--------------------------------------
 City                   | Columbia
 State                  | Maryland
 Median Age             | 37.9
 Male Population        | 52202
 Female Population      | 51265
 Total Population       | 103467
 Number of Veterans     | 6526
 Foreign-born           | 23249
 Average Household Size | 2.68
 State Code             | MD
 Race                   | Asian
 Count                  | 17821
-RECORD 6--------------------------------------
 City                   | Columbia
 State                  | Maryland
 Median Age             | 37.9
 Male Population        | 52202
 Female Population      | 51265
 Total Population       | 103467
 Number of Veterans     | 6526
 Foreign-born           | 23249
 Average Household Size | 2.68
 State Code             | MD
 Race                   | Hispanic or Latino
 Count                  | 8033
-RECORD 7--------------------------------------
 City                   | Columbia
 State                  | Maryland
 Median Age             | 37.9
 Male Population        | 52202
 Female Population      | 51265
 Total Population       | 103467
 Number of Veterans     | 6526
 Foreign-born           | 23249
 Average Household Size | 2.68
 State Code             | MD
 Race                   | White
 Count                  | 58343
-RECORD 8--------------------------------------
 City                   | Columbia
 State                  | Maryland
 Median Age             | 37.9
 Male Population        | 52202
 Female Population      | 51265
 Total Population       | 103467
 Number of Veterans     | 6526
 Foreign-born           | 23249
 Average Household Size | 2.68
 State Code             | MD
 Race                   | Black or African-...
 Count                  | 30075
-RECORD 9--------------------------------------
 City                   | Columbia
 State                  | Maryland
 Median Age             | 37.9
 Male Population        | 52202
 Female Population      | 51265
 Total Population       | 103467
 Number of Veterans     | 6526
 Foreign-born           | 23249
 Average Household Size | 2.68
 State Code             | MD
 Race                   | American Indian a...
 Count                  | 488
only showing top 10 rows

In [15]:
spark.sql("""
    select distinct race
    from stg_demographics
    order by race
""").show(vertical=True)

-RECORD 0--------------------
 race | American Indian a...
-RECORD 1--------------------
 race | Asian
-RECORD 2--------------------
 race | Black or African-...
-RECORD 3--------------------
 race | Hispanic or Latino
-RECORD 4--------------------
 race | White

In [14]:
spark.sql("""
    select `State Code` as state_code
           ,City as city
           ,State as state
           ,max(
               case when Race = 'White' then Count else 0 end
           ) as pop_white_counts
           ,max(
               case when Race = 'Asian' then Count else 0 end
           ) as pop_asian_counts
           ,max(
               case when Race like 'American%Indian%' then Count else 0 end
           ) as pop_native_american_counts
           ,max(
               case when Race = 'Hispanic or Latino' then Count else 0 end
           ) as pop_hispanic_counts
           ,max(
               case when Race like 'Black%African%' then Count else 0 end
           ) as pop_african_american_counts
           ,max(
               `Total Population` 
           ) as tot_population
           ,max(
               `Male Population` 
           ) as male_population
           ,max(
               `Female Population` 
           ) as female_population
           ,max(
               `Number of Veterans` 
           ) as veteran_population
           ,max(
               `Foreign-born` 
           ) as foreign_population
           ,max(
               `Median Age`
           ) as median_age
           ,max(
               `Average Household Size`
           ) as avg_hh_size
    from stg_demographics
    where `State Code` = "MD"
    group by `State Code`, city, state
    order by city
""").show(2, vertical=True)

-RECORD 0--------------------------------
 state_code                  | MD
 city                        | Baltimore
 state                       | Maryland
 pop_white_counts            | 207274
 pop_asian_counts            | 20161
 pop_native_american_counts  | 7730
 pop_hispanic_counts         | 29953
 pop_african_american_counts | 396270
 tot_population              | 621849
 male_population             | 294027
 female_population           | 327822
 veteran_population          | 29540
 foreign_population          | 49857
 median_age                  | 34.7
 avg_hh_size                 | 2.51
-RECORD 1--------------------------------
 state_code                  | MD
 city                        | Columbia
 state                       | Maryland
 pop_white_counts            | 58343
 pop_asian_counts            | 17821
 pop_native_american_counts  | 488
 pop_hispanic_counts         | 8033
 pop_african_american_counts | 30075
 tot_population              | 103467
 male_population             | 52202
 female_population           | 51265
 veteran_population          | 6526
 foreign_population          | 23249
 median_age                  | 37.9
 avg_hh_size                 | 2.68
only showing top 2 rows

In [16]:
out_df = spark.sql("""
    select `State Code` as state_code
           ,City as city
           ,State as state
           ,max(
               case when Race = 'White' then Count else 0 end
           ) as pop_white_counts
           ,max(
               case when Race = 'Asian' then Count else 0 end
           ) as pop_asian_counts
           ,max(
               case when Race like 'American%Indian%' then Count else 0 end
           ) as pop_native_american_counts
           ,max(
               case when Race = 'Hispanic or Latino' then Count else 0 end
           ) as pop_hispanic_counts
           ,max(
               case when Race like 'Black%African%' then Count else 0 end
           ) as pop_african_american_counts
           ,max(
               `Total Population` 
           ) as tot_population
           ,max(
               `Male Population` 
           ) as male_population
           ,max(
               `Female Population` 
           ) as female_population
           ,max(
               `Number of Veterans` 
           ) as veteran_population
           ,max(
               `Foreign-born` 
           ) as foreign_population
           ,max(
               `Median Age`
           ) as median_age
           ,max(
               `Average Household Size`
           ) as avg_hh_size
    from stg_demographics
    where `State Code` is not null
    group by `State Code`, city, state
""")
    
out_df.show()

+----------+----------------+-------------+----------------+----------------+--------------------------+-------------------+---------------------------+--------------+---------------+-----------------+------------------+------------------+----------+-----------+
|state_code|            city|        state|pop_white_counts|pop_asian_counts|pop_native_american_counts|pop_hispanic_counts|pop_african_american_counts|tot_population|male_population|female_population|veteran_population|foreign_population|median_age|avg_hh_size|
+----------+----------------+-------------+----------------+----------------+--------------------------+-------------------+---------------------------+--------------+---------------+-----------------+------------------+------------------+----------+-----------+
|        AZ|        Avondale|      Arizona|           62176|            2828|                       613|              34716|                      11592|         80683|          38712|            41971|              4815|              8355|      29.1|       3.18|
|        CA|     Santa Maria|   California|           90403|            5058|                      1575|              81551|                       1237|        105082|          53320|            51762|              2876|             39192|      30.1|       3.83|
|        TX|         Lubbock|        Texas|          206318|            7508|                      7627|              90706|                      23594|        249051|         122320|           126731|             10588|             14226|      29.2|       2.61|
|        FL|   Miami Gardens|      Florida|           27273|               0|                         0|              23287|                      85300|        113199|          50719|            62480|              2327|             33394|      34.9|       3.75|
|        FL|     Tallahassee|      Florida|          112800|           10035|                      1368|              13538|                      69135|        189894|          89390|           100504|              9575|             16720|      26.2|       2.38|
|        PR|        San Juan|  Puerto Rico|               0|            2452|                      4031|             335559|                          0|        342237|         155408|           186829|              null|              null|      41.4|       null|
|        VA|      Alexandria|     Virginia|          106215|           13315|                      1133|              25573|                      37168|        153511|          74989|            78522|             10635|             44030|      36.6|        2.2|
|        CA|       Vacaville|   California|           66825|            9273|                      3140|              23395|                      18023|         96794|          50091|            46703|              9064|             10577|      35.8|        2.9|
|        CA|        El Cajon|   California|           84703|            4561|                      1891|              31542|                       7534|        103688|          54450|            49238|              7103|             31865|      32.7|       3.14|
|        IA|    Cedar Rapids|         Iowa|          116851|            5406|                      1243|               5328|                      11921|        130405|          63109|            67296|              7823|              5404|      36.2|       2.32|
|        OH|       Cleveland|         Ohio|          166958|           10102|                      6140|              40603|                     205395|        388059|         186436|           201623|             19849|             18830|      36.0|       2.24|
|        CA|    Baldwin Park|   California|           36890|           15505|                       316|              56282|                       1560|         77056|          38747|            38309|               780|             34322|      35.8|       4.13|
|        MA|        Brockton|Massachusetts|           40110|            2528|                       881|              10890|                      43646|         95314|          46273|            49041|              3036|             27313|      35.2|       2.88|
|        NH|      Manchester|New Hampshire|          100108|            4304|                       558|              11962|                       6896|        110223|          54845|            55378|              5473|             14506|      37.3|        2.4|
|        WI|          Racine|    Wisconsin|           52445|            1175|                      1371|              18215|                      20014|         77737|          39314|            38423|              4650|              4403|      33.7|       2.56|
|        CO|Colorado Springs|     Colorado|          374900|           22619|                     11146|              78711|                      38976|        456562|         225544|           231018|             49291|             35320|      34.8|       2.48|
|        TN|         Jackson|    Tennessee|           36037|            1171|                       564|               3383|                      30103|         66980|          30007|            36973|              3529|              2097|      35.3|       2.52|
|        UT|  Salt Lake City|         Utah|          150136|           13153|                      3488|              40559|                       5365|        192660|          98364|            94296|              6829|             32166|      32.1|       2.38|
|        CA|   Santa Clarita|   California|          144949|           23168|                      4441|              56944|                       9223|        182367|          90192|            92175|              8537|             40666|      38.1|       3.02|
|        CA|        Stockton|   California|          170878|           76859|                     19834|             128216|                      41161|        305650|         150976|           154674|             12822|             79583|      32.5|       3.16|
+----------+----------------+-------------+----------------+----------------+--------------------------+-------------------+---------------------------+--------------+---------------+-----------------+------------------+------------------+----------+-----------+
only showing top 20 rows

In [9]:
# airport codes

In [11]:
spark.sql("""
    select *
    from stg_airports
""").show(2)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 2 rows

In [12]:
spark.sql("""
    select count(*)
    from stg_airports
""").show()

+--------+
|count(1)|
+--------+
|   55075|
+--------+

In [14]:
spark.sql("""
    select count(*)
    from stg_airports
    where iata_code is not null or local_code is not null
""").show(2)

+--------+
|count(1)|
+--------+
|   34888|
+--------+

In [28]:
spark.sql("""
    select iso_country
           ,iso_region
           ,municipality
           ,ident
           ,iata_code
           ,local_code
           ,type
           ,name
           ,coordinates
           ,SUBSTRING_INDEX(coordinates, ',', -1) as y_coord
           ,SUBSTRING_INDEX(coordinates, ',', 1) as x_coord
           ,elevation_ft
           ,gps_code
    from stg_airports
    where iata_code is not null or local_code is not null
""").show(2, vertical=True, truncate=False)

-RECORD 0------------------------------------------
 iso_country  | US
 iso_region   | US-PA
 municipality | Bensalem
 ident        | 00A
 iata_code    | null
 local_code   | 00A
 type         | heliport
 name         | Total Rf Heliport
 coordinates  | -74.93360137939453, 40.07080078125
 y_coord      |  40.07080078125
 x_coord      | -74.93360137939453
 elevation_ft | 11
 gps_code     | 00A
-RECORD 1------------------------------------------
 iso_country  | US
 iso_region   | US-KS
 municipality | Leoti
 ident        | 00AA
 iata_code    | null
 local_code   | 00AA
 type         | small_airport
 name         | Aero B Ranch Airport
 coordinates  | -101.473911, 38.704022
 y_coord      |  38.704022
 x_coord      | -101.473911
 elevation_ft | 3435
 gps_code     | 00AA
only showing top 2 rows

In [29]:
# global temps

In [30]:
spark.sql("""
    select *
    from stg_temperatures
""").show(2)

+----------+------------------+-----------------------------+-----+-------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|             6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|              null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+------------------+-----------------------------+-----+-------+--------+---------+
only showing top 2 rows

In [31]:
spark.sql("""
    select count(*)
    from stg_temperatures
""").show(2)

+--------+
|count(1)|
+--------+
| 8599212|
+--------+

In [32]:
spark.sql("""
    select count(*)
    from stg_temperatures
    where averageTemperature is not null
""").show(2)

+--------+
|count(1)|
+--------+
| 8235082|
+--------+

In [40]:
spark.sql("""
    select date(dt) as fulldate
           ,year(date(dt)) as year
           ,month(date(dt)) as month
           ,day(date(dt)) as day
           ,country
           ,city
           ,averageTemperature
           ,latitude
           ,longitude
    from stg_temperatures
    where averageTemperature is not null
        and year(date(dt)) >= 1900
""").show(2)

+----------+----+-----+---+-------+-----+------------------+--------+---------+
|  fulldate|year|month|day|country| city|averageTemperature|latitude|longitude|
+----------+----+-----+---+-------+-----+------------------+--------+---------+
|1900-01-01|1900|    1|  1|Denmark|Århus|            -0.989|  57.05N|   10.33E|
|1900-02-01|1900|    2|  1|Denmark|Århus|            -2.799|  57.05N|   10.33E|
+----------+----+-----+---+-------+-----+------------------+--------+---------+
only showing top 2 rows

In [41]:
spark.sql("""
    select date(dt) as fulldate
           ,year(date(dt)) as year
           ,month(date(dt)) as month
           ,day(date(dt)) as day
           ,country
           ,city
           ,averageTemperature
           ,latitude
           ,longitude
    from stg_temperatures
    where averageTemperature is not null
        and year(date(dt)) >= 1900
""").count()

4788080

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.