In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [4]:
import os
import glob
import pandas as pd

In [3]:
import lkup_utils

In [3]:
for month in os.listdir("./output_data/dim_immigration/"):
    tmp = spark.read.parquet(os.path.join("./output_data/dim_immigration/", month))
    print(tmp.count())

668421
953197
806559
1030225
755359
1058405
1062875
783442
805419
904307
898359
910706

In [ ]:
months_dfs = []

for month in os.listdir("./output_data/dim_immigration/"):
    tmp = spark.read.parquet(os.path.join("./output_data/dim_immigration/", month))
    months_dfs.append(tmp)

In [ ]:
from functools import reduce
from pyspark.sql import DataFrame

In [ ]:
dim_imm = reduce(DataFrame.unionAll, months_dfs)

In [ ]:
dim_imm.count()

In [8]:
dim_imm.groupBy("month").count().show()

+-----+-------+
|month|  count|
+-----+-------+
|  8.0|1030225|
|  7.0|1058405|
|  1.0| 783442|
|  4.0|1062875|
| 11.0| 755359|
|  3.0| 805419|
|  2.0| 668421|
| 10.0| 910706|
|  6.0| 953197|
|  5.0| 904307|
|  9.0| 898359|
| 12.0| 806559|
+-----+-------+

In [35]:
dim_imm.show(10)

+----+-------------------+----------------------+---------------------+------+---------+--------+----------+------+-----+
| age|origin_country_code|destination_state_code|destination_city_code|gender|visa_code|visatype|i94_counts|  year|month|
+----+-------------------+----------------------+---------------------+------+---------+--------+----------+------+-----+
|40.0|              103.0|                    TN|                  CLT|     M|      1.0|      B1|       1.0|2016.0|  2.0|
|24.0|              107.0|                    WI|                  CHI|     M|      2.0|      B2|       1.0|2016.0|  2.0|
|28.0|              108.0|                    MI|                  TUC|     M|      2.0|      WT|       1.0|2016.0|  2.0|
|23.0|              111.0|                    HI|                  SFR|     M|      2.0|      WT|       1.0|2016.0|  2.0|
|33.0|              113.0|                    OH|                  TUC|     F|      1.0|      B1|       1.0|2016.0|  2.0|
|35.0|              116.0|                    FL|                  FTL|     M|      2.0|      B2|       1.0|2016.0|  2.0|
|40.0|              691.0|                    NV|                  MIA|     M|      2.0|      WT|       1.0|2016.0|  2.0|
|25.0|              131.0|                    PA|                  WAS|     M|      2.0|      B2|       1.0|2016.0|  2.0|
|48.0|              135.0|                    CA|                  LOS|     M|      1.0|      E2|       4.0|2016.0|  2.0|
|27.0|              112.0|                    NH|                  BOS|     M|      1.0|      WB|       1.0|2016.0|  2.0|
+----+-------------------+----------------------+---------------------+------+---------+--------+----------+------+-----+
only showing top 10 rows

In [12]:
demographics = spark.read.parquet("./output_data/dim_demographics/")

In [13]:
airports = spark.read.parquet("./output_data/dim_airports/")

In [14]:
temperatures = spark.read.parquet("./output_data/dim_temperatures/")

In [15]:
lkup_city = spark.read.parquet("./output_data/lkup_city/")

In [16]:
lkup_state = spark.read.parquet("./output_data/lkup_state/")

In [13]:
temperatures.show(2)

+----------+-----+---+-------+----+------------------+--------+---------+----+
|  fulldate|month|day|country|city|averageTemperature|latitude|longitude|year|
+----------+-----+---+-------+----+------------------+--------+---------+----+
|1908-01-01|    1|  1|  India|Loni|            14.066|  28.13N|   77.27E|1908|
|1908-02-01|    2|  1|  India|Loni|            17.477|  28.13N|   77.27E|1908|
+----------+-----+---+-------+----+------------------+--------+---------+----+
only showing top 2 rows

In [39]:
temperatures.groupBy("country").count().show()

+-----------+------+
|    country| count|
+-----------+------+
|       Chad|  2728|
|   Paraguay|  6820|
|     Russia|212784|
|      Yemen|  2728|
|    Senegal| 10912|
|     Sweden|  6820|
|     Guyana|  1364|
|Philippines| 88660|
|      Burma| 27280|
|    Eritrea|  1364|
|   Djibouti|  1364|
|   Malaysia| 43648|
|  Singapore|  1364|
|     Turkey| 69564|
|     Malawi|  2728|
|       Iraq|  5456|
|    Germany|110484|
|   Cambodia|  1364|
|Afghanistan| 10912|
|     Jordan|  1364|
+-----------+------+
only showing top 20 rows

In [16]:
airports.show(2)

+-----------+----------+------------+-----+---------+----------+-------------+--------------------+--------------------+---------------+------------------+------------+--------+
|iso_country|iso_region|municipality|ident|iata_code|local_code|         type|                name|         coordinates|        y_coord|           x_coord|elevation_ft|gps_code|
+-----------+----------+------------+-----+---------+----------+-------------+--------------------+--------------------+---------------+------------------+------------+--------+
|         US|     US-PA|    Bensalem|  00A|     null|       00A|     heliport|   Total Rf Heliport|-74.9336013793945...| 40.07080078125|-74.93360137939453|          11|     00A|
|         US|     US-KS|       Leoti| 00AA|     null|      00AA|small_airport|Aero B Ranch Airport|-101.473911, 38.7...|      38.704022|       -101.473911|        3435|    00AA|
+-----------+----------+------------+-----+---------+----------+-------------+--------------------+--------------------+---------------+------------------+------------+--------+
only showing top 2 rows

In [34]:
airports.groupBy("type").count().show()

+--------------+-----+
|          type|count|
+--------------+-----+
| large_airport|  604|
|   balloonport|   20|
| seaplane_base|  981|
|      heliport| 7642|
|        closed|  740|
|medium_airport| 3946|
| small_airport|20955|
+--------------+-----+

In [17]:
demographics.show(2)

+--------------------+--------+----------------+----------------+--------------------------+-------------------+---------------------------+--------------+---------------+-----------------+------------------+------------------+----------+-----------+----------+
|                city|   state|pop_white_counts|pop_asian_counts|pop_native_american_counts|pop_hispanic_counts|pop_african_american_counts|tot_population|male_population|female_population|veteran_population|foreign_population|median_age|avg_hh_size|state_code|
+--------------------+--------+----------------+----------------+--------------------------+-------------------+---------------------------+--------------+---------------+-----------------+------------------+------------------+----------+-----------+----------+
|Louisville/Jeffer...|Kentucky|          456451|           18601|                      4585|              28712|                     151256|        615389|         298451|           316938|             39364|             37875|      37.5|       2.45|        KY|
|Augusta-Richmond ...| Georgia|           77940|            4429|                      1667|               9068|                     112271|        196579|          94662|           101917|             19085|              7915|      33.7|       2.67|        GA|
+--------------------+--------+----------------+----------------+--------------------------+-------------------+---------------------------+--------------+---------------+-----------------+------------------+------------------+----------+-----------+----------+
only showing top 2 rows

In [20]:
lkup_city.show(2)

+---------+------------------+
|city_code|         city_name|
+---------+------------------+
|      ALC|ALCAN             |
|      ANC|ANCHORAGE         |
+---------+------------------+
only showing top 2 rows

In [21]:
lkup_state.show(2)

+----------+----------+
|state_code|state_name|
+----------+----------+
|        AL|   Alabama|
|        AK|    Alaska|
+----------+----------+
only showing top 2 rows

In [18]:
dim_imm.createOrReplaceTempView("immigration")
demographics.createOrReplaceTempView("demographics")
airports.createOrReplaceTempView("airports")
temperatures.createOrReplaceTempView("temperatures")
lkup_city.createOrReplaceTempView("lcity")
lkup_state.createOrReplaceTempView("lstate")

In [43]:
spark.sql("""
    select *
    from temperatures
    where country like '%United%States%'
""").show()

+----------+-----+---+-------------+-----------+------------------+--------+---------+----+
|  fulldate|month|day|      country|       city|averageTemperature|latitude|longitude|year|
+----------+-----+---+-------------+-----------+------------------+--------+---------+----+
|1908-01-01|    1|  1|United States|Los Angeles|             9.791|  34.56N|  118.70W|1908|
|1908-02-01|    2|  1|United States|Los Angeles|             9.032|  34.56N|  118.70W|1908|
|1908-03-01|    3|  1|United States|Los Angeles|            11.986|  34.56N|  118.70W|1908|
|1908-04-01|    4|  1|United States|Los Angeles|             14.84|  34.56N|  118.70W|1908|
|1908-05-01|    5|  1|United States|Los Angeles|             14.79|  34.56N|  118.70W|1908|
|1908-06-01|    6|  1|United States|Los Angeles|            18.109|  34.56N|  118.70W|1908|
|1908-07-01|    7|  1|United States|Los Angeles|            23.991|  34.56N|  118.70W|1908|
|1908-08-01|    8|  1|United States|Los Angeles|            23.135|  34.56N|  118.70W|1908|
|1908-09-01|    9|  1|United States|Los Angeles|20.743000000000002|  34.56N|  118.70W|1908|
|1908-10-01|   10|  1|United States|Los Angeles|            15.232|  34.56N|  118.70W|1908|
|1908-11-01|   11|  1|United States|Los Angeles|            12.196|  34.56N|  118.70W|1908|
|1908-12-01|   12|  1|United States|Los Angeles|             8.183|  34.56N|  118.70W|1908|
|1908-01-01|    1|  1|United States| Louisville|             1.099|  37.78N|   85.42W|1908|
|1908-02-01|    2|  1|United States| Louisville|1.3459999999999999|  37.78N|   85.42W|1908|
|1908-03-01|    3|  1|United States| Louisville|            10.475|  37.78N|   85.42W|1908|
|1908-04-01|    4|  1|United States| Louisville|             13.46|  37.78N|   85.42W|1908|
|1908-05-01|    5|  1|United States| Louisville|            18.913|  37.78N|   85.42W|1908|
|1908-06-01|    6|  1|United States| Louisville|            22.568|  37.78N|   85.42W|1908|
|1908-07-01|    7|  1|United States| Louisville|            24.601|  37.78N|   85.42W|1908|
|1908-08-01|    8|  1|United States| Louisville|             24.17|  37.78N|   85.42W|1908|
+----------+-----+---+-------------+-----------+------------------+--------+---------+----+
only showing top 20 rows

In [46]:
spark.sql("""
    select i.*
          ,lcity.city_name
          ,lstate.state_name
          ,d.*
          ,a.airportcount  
          ,t.averageTemperature
    from immigration as i
    join lcity on i.destination_city_code = lcity.city_code
    join lstate on i.destination_state_code = lstate.state_code
    left join (
        select state_code
              ,sum(pop_white_counts) as pop_white_counts
              ,sum(pop_asian_counts) as pop_asian_counts
              ,sum(pop_native_american_counts) as pop_native_american_counts
              ,sum(pop_hispanic_counts) as pop_hispanic_counts
              ,sum(pop_african_american_counts) as pop_african_american_counts 
              ,sum(tot_population) as tot_population
              ,sum(male_population) as male_population
              ,sum(female_population) as female_population
              ,sum(veteran_population) as veteran_population
              ,sum(foreign_population) as foreign_population
        from demographics
        group by state_code
    ) as d on i.destination_state_code = d.state_code
    left join (
        select SUBSTRING_INDEX(iso_region,'-',1) as state
              ,count(*) as airportcount
        from airports
        group by state
    ) as a
        on i.destination_state_code = a.state
    left join (
        select *
        from temperatures
        where country like '%United%States%'
    ) as t
        on i.year = t.year and i.month = t.month
""").show(3, vertical=True)

-RECORD 0-----------------------------------------
 age                         | 40.0
 origin_country_code         | 103.0
 destination_state_code      | TN
 destination_city_code       | CLT
 gender                      | M
 visa_code                   | 1.0
 visatype                    | B1
 i94_counts                  | 1.0
 year                        | 2016.0
 month                       | 2.0
 city_name                   | CHARLOTTE
 state_name                  | Tennessee
 state_code                  | TN
 pop_white_counts            | 1253142.0
 pop_asian_counts            | 73024.0
 pop_native_american_counts  | 17638.0
 pop_hispanic_counts         | 167962.0
 pop_african_american_counts | 810758.0
 tot_population              | 2152560.0
 male_population             | 1031836.0
 female_population           | 1120724.0
 veteran_population          | 117901.0
 foreign_population          | 181405.0
 airportcount                | 11
 averageTemperature          | null
-RECORD 1-----------------------------------------
 age                         | 24.0
 origin_country_code         | 107.0
 destination_state_code      | WI
 destination_city_code       | CHI
 gender                      | M
 visa_code                   | 2.0
 visatype                    | B2
 i94_counts                  | 1.0
 year                        | 2016.0
 month                       | 2.0
 city_name                   | CHICAGO
 state_name                  | Wisconsin
 state_code                  | WI
 pop_white_counts            | 974433.0
 pop_asian_counts            | 73982.0
 pop_native_american_counts  | 24720.0
 pop_hispanic_counts         | 202117.0
 pop_african_american_counts | 316896.0
 tot_population              | 1413145.0
 male_population             | 688803.0
 female_population           | 724342.0
 veteran_population          | 61134.0
 foreign_population          | 124687.0
 airportcount                | null
 averageTemperature          | null
-RECORD 2-----------------------------------------
 age                         | 28.0
 origin_country_code         | 108.0
 destination_state_code      | MI
 destination_city_code       | TUC
 gender                      | M
 visa_code                   | 2.0
 visatype                    | WT
 i94_counts                  | 1.0
 year                        | 2016.0
 month                       | 2.0
 city_name                   | TUCSON
 state_name                  | Michigan
 state_code                  | MI
 pop_white_counts            | 1214721.0
 pop_asian_counts            | 125172.0
 pop_native_american_counts  | 27962.0
 pop_hispanic_counts         | 149932.0
 pop_african_american_counts | 853877.0
 tot_population              | 2203460.0
 male_population             | 1056446.0
 female_population           | 1147014.0
 veteran_population          | 99481.0
 foreign_population          | 249772.0
 airportcount                | null
 averageTemperature          | null
only showing top 3 rows